.wrapper_wrapper {
  display: flex;
  justify-content: center;
}

.login_wrapper {
  display: grid;
  grid-template-columns: center;
  grid-template-rows: 50vh auto;
  width: 50vw;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}